body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #E8EDFF;
}

.App {
  height: 100%;
  width: 100%;
  background:#E8EDFF;
}

.app-container {
  width: 368px;
  height: 624px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container>div {
  width: 100%;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hide;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  font-family: 'Allerta Stencil', sans-serif;
  border-radius: 15px 15px 0 0;
  background-color: #123751;
  height: 7.5%;
  width: 98%;
  line-height: 550%;
  color: white;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 7.8%;
  right: 0;
  background: #FFFFE0;
  color: #1f2329;
  height: 8%;
  width: 100%;
  line-height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0 1% 0;
  overflow: hidden;
}

.add-button {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-item-btn-main {
  margin-left: 5%;
  font-size: 100%;
  font-weight: bold;
  border-radius: 4px;
  border-width: 4px ;
  border:outset ;
  border-color: #EAE7E2;
  color: red;
  cursor: pointer;
  height: 85%;
  width: 95%;
  background: #FFFFE0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

#add-item-btn-main:hover {
  background-color: rgb(230, 221, 200);
}

.add-item-btn:active {
  transform: translateY(.1px);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 80%;
  color: #2e3131;
}

.form-input {
  border-width: 2px;
  border-style: groove;
  border-color: #FFFFF3;
  background: #FFFFF4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 42%;
  height: 65%;
  font-size: 90%;
  border-radius: 3px;
  color: #2e3131;
}

.content {
  position: fixed;
  top: 17.8%;
  right: 0;
  flex-flow: column;
  background: #FFFFEB;
  height: 76%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.each-item {
  padding: 0.5%;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 8.5%;
  border-bottom: 0.3px solid #ededed;
  background-color: #123751;
}

.left-buttons {
  display: flex;
  flex-flow: row;
  width: 18%;
  height: 100%;
  background: #123751;
  justify-content: center;
  align-items: center;
}

.x-button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 96%;
  background-color: #123751;

  transition-duration: 0.5s;
  cursor: pointer;
  font-size: 170%;
}

#close {
  color: #0F344D;
  border: 3px outset #1A5A88;
  margin-right: 10%;
}

#check {
  color: #D64B34;
  border: 2px groove #185380;
}

#close:hover {
  background-color: #AD3528;
  border: 3px outset #D64B34;
  color: #217ABD;
}

.item {
  background-color: #123751;
  color: #C3C4BB;
  text-align: left;
  width: 56.5%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hide;
}

.counter {
  background: #123751;
  width: 25%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 96%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 32%;
  font-size: 100%;
}

.button.add {
  border: 2.5px outset #D64B34;
  background-color: #AD3528;
}

.button.subtract {
  border: 2.5px outset #4B819E;
  background-color: #4B819E;
}

.counts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #123751;
  color: #f7f1e4;
  width: 30%;
  height: 96%;
  font-size: 160%;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-top: 0.8%;
  background-color: #123751;
  height: 5%;
  color: white;
  border-radius: 0 0 0 0;
  border-radius: 0 0 15px 15px;
}

.sign-in {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: #E8EDFF;
  align-content: f;
}

.sign-in-form {
  display: flex;
  flex-Direction: column;
  justify-Content: center;
  align-Items: center;
  width: 100%;
  height: 100%;
  width: 100%;
  border: 2px solid grey;
  border-Radius: 4%;
  font-Size: 24px;
  color: #696969;

}

.form-lable {
  height: 8%;
  width: 90%;
  text-Align: left;
  margin-left: 14%;
  margin-top: 10%;
  display: flex;
  justify-Content: flex-end;
  flex-Direction: column;
}

.form-in {
  border:5px groove #E8EDFF;
  height: 10%;
  line-Height: 6%;
  width: 80%;
  margin-Left: 1.5%;
  margin-Bottom: 5%;
  border-Radius: 3px;
}

.form-sign-up-btn {
  background-color: #AD3528;
  border-Radius: 3px;
  border: 4px outset #D64B34;
  color: white;
  width: 40%;
  height: 8%;
  font-Size: 70%;
  margin-top: 10%;

}

::placeholder {
  color:	#C8C8C8;
  font-size: 120%;
  opacity: 1; /* Firefox */
}

@media screen and (max-width: 319px) {
  body {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .app-container {
    width: 320px;
    height: 568px;
  }

  .header {
    height: 6%;
    border-radius: 0;
    width: 375px;
    line-height: 300%;
    font-size: 60%;
  }

  .menu{
    height:8%
  }

  #add-item-btn-main {
    border-width: 2px;
  }

  .content {
    height: 75%;
  }

  .each-item {
    width: 99%;
    height: 9.9%;
    margin: 0.45%;
  }

  .left-buttons {
    width: 22.5%;
  }

  .close {
    border-width: 2px;
  }

  .check {
    border-width: 2px;
  }

  .item {
    width: 50%;
  }

  .counter {
    height: 100%;
    width: 24%;
  }

  .button {
    width: 35%;

    border-width: 2px;
  }

  .footer {
    border-radius: 0;
  }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  .app-container {
    width: 360px;
    height: 640px;
  }

  .header {
    height: 5%;
    border-radius: 0;
    width: 375px;
    line-height: 300%;
    font-size: 60%;
  }

  #add-item-btn-main {
    border-width: 2px;
  }

  .content {
    height: 78%;
  }

  .each-item {
    width: 99%;
    height: 8.9%;
    margin: 0.45%;
  }

  .left-buttons {
    width: 22.5%;
  }

  .close {
    border-width: 2px;
  }

  .check {
    border-width: 2px;
  }

  .item {
    width: 50%;
  }

  .counter {
    height: 100%;
    width: 24%;
  }

  .button {
    width: 35%;

    border-width: 2px;
  }

  .footer {
    border-radius: 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 389px) {

  .app-container {
    width: 375px;
    height: 667px;
  }

  .each-item {
    width: 99%;
    height: 8.8%;
    margin: 0.45%;
  }

  .header {
    padding: 0.3%;
    height: 9%;
    line-height: 600%;
    font-size: 70%;
    border-radius: 0;
  }

  .footer {
    border-radius: 0;
  }

}

@media screen and (min-width: 390px) and (max-width: 420px) {
  .app-container {
    width: 414px;
    height: 736px;
  }

  .each-item {
    height: 8.34%;
  }

  .header {
    border-radius: 0;
  }

  .footer {
    border-radius: 0;
  }

}

@media screen and (min-width: 768px) {
  .header {
    border-radius: 15px 15px 0 0;
  }
  .left-buttons {
    width: 22.5%;
  }
  .item {
    width: 50%;
  }

  .counter {
    width: 24%;
  }
  
  .footer {
    border-radius: 0 0 15px 15px;
  }
}