.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C8C8C8;
}

.app-container {
    display: flex;
    align-items: center;
    position: relative;
    background: #C8C8C8;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}

.header {

    color: white;
    background-color: #262228;
    height: 6vh;
    width: 92vw;
    border: .4vw outset #262228;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;


}

.shopper-name {

    font-family: 'Codystar', cursive;
    font-Size: 4vw;
    margin-right: 50vw;
    text-align: center;
}

.items {
    font-family: 'Thasadith', sans-serif;
    font-size: 2vw;
    overflow-y: scroll;
    overflow-x: hide;
}

.menu {
    margin-top: .2vh;
    background-color: #262228;
    height: 7vh;
    width: 92vw;
    border: .4vw outset #262228;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    color: #f4f4f4;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#add-item-btn-main {
    font-family: 'Thasadith', sans-serif;
    margin-left: 5%;
    font-size: 100%;
    font-weight: bold;
    border-radius: 4px;
    border-width: 1vw;
    border: outset;
    color: #f4f4f4;
    border-color: #2c2b2c;
    cursor: pointer;
    height: 85%;
    width: 95%;
    background-color: #262228;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: flex;

    margin: 0 auto;
    padding: 0;
}

#add-item-btn-main:hover {
    background-color: #f4f4f4;
    color: #262228;
}

.add-item-btn:active {
    transform: translateY(.1px);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    color: #2e3131;
}

.form-input {
    border-width: .1vw;
    border-style: inset;
    border-color: #333233;
    background-color: #262228;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 42%;
    height: 65%;
    font-size: 3vw;
    font-family: 'Thasadith', sans-serif;
    border-radius: 3px;
    color: white;
}

::placeholder {

    color: #C8C8C8;
    font-size: 2.5vw;
    opacity: .2;
    /* Firefox */
}

.content {
    position: absolute;
    bottom: 9.3vh;
    background-color: whitesmoke;
    margin-top: .6vh;
    height: 74vh;
    width: 91.9vw;
    align-items: center;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.each-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .4%;
    padding: 0.5vh;
    display: flex;
    flex-flow: row;
    width: 90.3vw;
    height: 7%;
    border: 0.5vw outset #2c2a2e;
    background-color: #262228;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-buttons {
    display: flex;
    flex-flow: row;
    width: 18%;
    height: 100%;
    background: #262228;
    justify-content: center;
    align-items: center;
}

.x-button {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 96%;
    background-color: #262228;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 2vw;
}

#close {
    color: #424142;
    border: 3px outset #2f2e30;
    margin-right: 10%;
}

#check {
    color: #7E0F1C;
    border: .14vw groove #2f2e30;
}

#close:hover {
    background-color: #7E0F1C;
    border: .3vw outset #7E0F1C;
    color: rgb(94, 12, 21);
}

.item {
    background-color: #262228;
    color: white;
    text-align: left;
    width: 56.5%;
    height: 95%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    font-size: 2.5vw;
    overflow-x: scroll;
    overflow-y: hide;
}

.item-name {
    height: 98%;
    width: 60%;
    overflow-y: hide;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    font-Size: 2.7vw;
    margin-left: .1vw;
    color: white;
    margin-bottom: 1vw;
    font-family: 'Thasadith', sans-serif;
}

.item-store {
    width: 16%;
    overflow-y: hide;
    overflow-x: scroll;
    height: 98%;
    overflow-y: hide;
    display: flex;
    justify-content: center;
    align-items: center;
    font-Size: 90%;
    margin-Left: 6%;
    margin-Right: 6%;
    color: #c0b283;
    font-family: 'Thasadith', sans-serif;
}

.item-from {
    width: 10.5%;
    height: 98%;
    overflow-y: hide;
    display: flex;
    justify-content: center;
    align-items: center;
    font-Size: 1vw;
    margin-Left: 1vw;
    color: white;
    font-family: 'Thasadith', sans-serif;
}

.counter {
    background-color: #262228;
    width: 25%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: 96%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 32%;
    font-size: 1.5vw;
}

.button.add {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .3vw outset rgb(122, 20, 32);
    background-color: rgb(122, 20, 32);
}

.button.subtract {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .25vw outset #3d3d3d;
    background-color: #262228;
    color: white;
}

.counts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262228;
    color: white;
    width: 30%;
    height: 96%;
    font-size: 2vw;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-top: .2vh;
    background-color: #262228;
    height: 7vh;
    width: 92vw;
    border: .4vw outset #262228;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Thasadith', sans-serif;
}


.signout {
    font-family: 'Thasadith', sans-serif;
    background-color: #262228;
    border-Radius: 3px;
    border: 4px outset #2c2b2c;
    color: white;
    width: 35vw;
    height: 80%;
    font-Size: 2vw;


}

.signout:hover {
    background-color: rgb(122, 20, 32);
    border: 4px outset rgb(122, 20, 32);
}

.signout:active {
    transform: translateY(.1px);
}

.sign-in {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: #C8C8C8;
    border: .4vw outset rgb(180, 178, 178);
}

.sign-in-form {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-Direction: column;
    justify-Content: center;
    align-Items: center;
    width: 30vw;
    height: 40vh;
    width: 100%;
    border-Radius: 4%;
    font-Size: 24px;
    color: white;

}

.form-lable {

    height: 5%;
    width: 90%;
    text-Align: left;
    margin-left: 14%;
    margin-top: 10%;
    margin-bottom: 2%;
    display: flex;
    justify-Content: flex-end;
    flex-Direction: column;
}

.form-in {
    display: flex;
    justify-Content: center;
    align-Items: center;
    background: white;
    border: 5px groove rgb(231, 230, 230);
    height: 10%;
    line-Height: 6%;
    width: 80%;
    margin-Left: 1.5%;
    margin-Bottom: 5%;
    border-Radius: .3vw;
    color: rgb(124, 123, 123);
    font-size: 2.5vw;
}

.form-sign-up-btn {
    background-color: #C8C8C8;

    border-Radius: 3px;
    border: 4px outset rgb(124, 123, 123);
    color: white;
    width: 50%;
    height: 50%;
    font-Size: 90%;
    margin-top: 5%;
}

.form-sign-up-btn:hover {
    background-color: rgb(122, 20, 32);
    border: 4px outset rgb(87, 45, 50);
    color: white;
}

.form-sign-up-btn:active {
    transform: translateY(.1px);
}

@media screen and (max-width: 1024px) {

    .header,
    .menu,
    .footer,
    .content {
        width: 99vw;
    }

    .content {
        height: 75.5vh;
        bottom: 9vh;
        justify-content: center;
    }

    .footer {
        top: 92.3vh;
    }

    .App,
    .app-container {
        background-color: whitesmoke;
    }

    .each-item {
        margin-left: .2vw;
        width: 97.6vw;
    }

    .signout {
        font-Size: 3vw;
    }

    .form-input {
        font-size: 3.5vw;
    }

    ::placeholder {
        color: #C8C8C8;
        font-size: 3.5vw;
        opacity: .2;
        /* Firefox */
    }

    .shopper-name {

        font-family: 'Codystar', cursive;
        font-Size: 5vw;
        margin-right: 50vw;
        text-align: center;
    }

    .items {
        font-family: 'Thasadith', sans-serif;
        font-size: 2.5vw;
        overflow-y: scroll;
        overflow-x: hide;
    }
    .form-input {
        border-width: .2vw;
        border-style: inset;
        border-color: #333233;
        background-color: #262228;
    }

}

@media screen and (max-width: 900px) {


}